* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  padding: 0 16px;
}

.error-message-container {
  height: 100vh;
}
.error-message-container .error-message {
  height: 63%;
  font-size: 1.5rem;
  margin: 7%;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 16px 0;
}
.header .frudd-flix-logo {
  width: 100%;
  margin-bottom: 8px;
}
.header .title {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}
.header .menu {
  justify-content: space-between;
  display: flex;
  z-index: 50;
  gap: 8px;
  position: relative;
  width: 100%;
}
.header .menu .nav-btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 8px 12px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menu .browse-btn-active {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
}
.header .menu .menu-menu-btn {
  width: 100px;
  padding: 16px 16px;
}
.header .menu .menu-input {
  width: 100%;
  border-radius: 10px;
}
.header .menu .browse-menu {
  font-family: "Mukta", sans-serif;
  color: black;
  position: absolute;
  outline: 2px solid gold;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 50;
  top: 110%;
}
.header .menu .browse-menu .slider-container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu .browse-menu .slider-container .slider-year-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}
.header .menu .browse-menu .slider-container .slider-year-container .browse-title {
  margin: 0;
  color: gold;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Mukta", sans-serif;
  justify-self: center;
}
.header .menu .browse-menu .slider-container .slider-year-container .slider-min-text,
.header .menu .browse-menu .slider-container .slider-year-container .slider-max-text {
  color: gold;
}
.header .menu .browse-menu .slider-container .slider-year-container .slider-min-text {
  justify-self: start;
}
.header .menu .browse-menu .slider-container .slider-year-container .slider-max-text {
  justify-self: end;
}
.header .menu .browse-menu .slider-container .slider {
  cursor: pointer;
  width: 100%;
  background-color: gold;
  margin-bottom: 16px;
}
.header .menu .browse-menu .slider-container .slider .track {
  height: 2px;
  background-color: blueviolet;
}
.header .menu .browse-menu .slider-container .slider .track:nth-child(2) {
  background-color: var(--char-coal);
  background-color: gold;
}
.header .menu .browse-menu .slider-container .thumb {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: gold;
  border-radius: 50%;
  margin-top: -5px;
}
.header .menu .browse-menu .slider-container .thumb:hover {
  background: linear-gradient(to bottom, #fac23d, #d88b14);
}
.header .menu .browse-menu .browse-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 8px 0;
  gap: 8px;
}
.header .menu .browse-menu .browse-genres .button-genre {
  background-color: black;
  color: gold;
  border: 1px solid gold;
  border-radius: 32px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Mukta", sans-serif;
}
.header .menu .browse-menu .browse-genres .button-genre.selected {
  background-color: gold;
  color: black;
}
.header .menu .browse-menu .menu-filter-btn {
  background-color: gold;
  color: black;
  border: none;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Mukta", sans-serif;
}
.header .menu .browse-menu .menu-filter-btn:hover {
  background-color: rgb(34, 34, 34);
  color: gold;
}
.header .menu .browse-menu-sticky {
  width: 93%;
  left: 3.5%;
}
.header .menu-sticky {
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.877);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.movies-container .movie {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
}
.movies-container .movie .movie-title-container .movie-title {
  font-family: "Lato", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
}
.movies-container .movie .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.movies-container .movie .backdrop .backdrop-exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.movies-container .movie .backdrop .backdrop-exit:hover {
  color: red;
}
.movies-container .movie .backdrop .trailer-navigation {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  width: 100%;
}
.movies-container .movie .backdrop .trailer-navigation .trailer-previous-btn,
.movies-container .movie .backdrop .trailer-navigation .trailer-next-btn {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 20px;
  margin-left: 10px;
  outline: none;
  font-size: 2rem;
  width: 1%;
  font-weight: 600;
}
.movies-container .movie .backdrop .trailer-navigation .trailer-previous-btn.disabled,
.movies-container .movie .backdrop .trailer-navigation .trailer-next-btn.disabled {
  color: grey;
}
.movies-container .movie .backdrop .trailer-navigation .total-pages {
  color: rgb(158, 158, 158);
  margin: 0 16px;
  word-spacing: 7px;
}
.movies-container .movie .backdrop .trailer-navigation .total-pages .current-page-numb {
  color: white;
}
.movies-container .movie button.favorite {
  color: white;
  margin-left: 3%;
}
.movies-container .movie button.favorite.active {
  color: red;
  animation: heartBeat 1s forwards;
}
.movies-container .movie button.watch-later.active {
  background-color: rgb(145, 145, 245);
  animation: heartBeat 1s forwards;
}
.movies-container .movie button.watch-trailer-btn.active {
  background-color: rgb(145, 145, 245);
  animation: heartBeat 1s forwards;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movies-container .movie button.favorite {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
}
.movies-container .movie .movie-info-container {
  font-family: "Mukta", sans-serif;
  margin: 0 3% 5%;
}
.movies-container .movie .movie-info-container .later-trailer-liked-container .watch-trailer-btn,
.movies-container .movie .movie-info-container .later-trailer-liked-container .watch-later {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  margin: 2%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
}
.movies-container .movie .movie-info-container .later-trailer-liked-container .watch-trailer-btn {
  background-color: rgb(52, 255, 103);
}
.movies-container .movie .movie-info-container .movie-info-text {
  font-size: 1.3rem;
  display: inline;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.movies-container .movie .movie-info-container .movie-year {
  margin-right: 10%;
  font-family: "Dosis", sans-serif;
  color: rgb(255, 213, 0);
}
.movies-container .movie .menu-item {
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Mukta", sans-serif;
}
.movies-container .movie .menu-button {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease;
  margin: 2% 1% 4% 1%;
}
.movies-container .movie-poster {
  border-radius: 15px;
  margin-bottom: 8px;
}
.movies-container .movie .line-break {
  width: 70%;
  border-color: rgb(68, 68, 68);
  opacity: 0.7;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  margin: 4% 0 0 0;
}
.pagination-container .last-btn,
.pagination-container .first-btn,
.pagination-container .previous-btn,
.pagination-container .next-btn {
  font-family: "Mukta", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 8px;
  outline: none;
  font-size: 2rem;
  width: 1%;
  font-weight: 600;
}
.pagination-container .last-btn.disabled,
.pagination-container .first-btn.disabled,
.pagination-container .previous-btn.disabled,
.pagination-container .next-btn.disabled {
  color: grey;
}
.pagination-container .total-pages {
  color: rgb(158, 158, 158);
  margin: 0 16px;
  word-spacing: 5px;
}
.pagination-container .total-pages .current-page-numb {
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  color: gold;
  font-size: 1rem;
}
.footer .footer-ul {
  list-style: none;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
}
.footer .footer-ul .footer-li {
  display: inline-block;
  margin: 0 10px;
  line-height: 30px;
}
.footer .footer-ul .footer-li .fa-brands {
  margin-right: 10px;
}
.footer .footer-ul .footer-link {
  color: gold;
  text-decoration: none;
}
.footer .footer-ul .footer-link:hover {
  color: white;
}

.loader,
.error-message {
  color: #fff;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  margin: 10%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 1024px) {
  .error-message-container {
    height: 85vh;
  }
  .error-message-container .error-message {
    margin: 2%;
    font-size: 1.5rem;
  }
  .header .menu {
    justify-content: center;
    gap: 16px;
    padding: 0.3%;
    margin-bottom: 1%;
  }
  .header .menu .nav-btn {
    font-size: 1.2rem;
  }
  .header .menu .nav-btn:hover {
    color: black;
    background-color: white;
  }
  .header .menu .menu-input {
    width: 29.5%;
  }
  .header .menu .menu-menu-btn {
    padding: 0.7%;
  }
  .header .menu .browse-menu {
    align-items: center;
    width: 50%;
  }
  .header .menu .browse-menu .slider-container {
    width: 70%;
  }
  .header .menu .browse-menu .slider-container .slider-year-container .slider-max-text,
  .header .menu .browse-menu .slider-container .slider-year-container .slider-min-text {
    font-size: 1.4rem;
  }
  .header .menu .browse-menu .menu-filter-btn {
    width: 60%;
    margin: 2.5%;
  }
  .header .menu .browse-menu .browse-genres {
    margin-top: 5%;
  }
  .header .menu .browse-menu .browse-genres .button-genre {
    font-size: 1.2rem;
  }
  .header .menu .browse-menu .menu-filter-btn {
    font-size: 1.3rem;
  }
  .header .menu .browse-menu-sticky {
    width: 49%;
    left: 25.5%;
  }
  .movies-container {
    display: flex;
    flex-flow: wrap;
    gap: 5%;
    margin-top: 1%;
  }
  .movies-container .movie {
    width: 20%;
    margin-bottom: 30px;
    outline: none;
    border: 2px solid rgba(78, 78, 78, 0.631372549);
    text-align: center;
    background: linear-gradient(to bottom, #161616, #303030);
    border-radius: 14px;
    cursor: pointer;
  }
  .movies-container .movie .trailer-player {
    width: 60%;
    height: 67%;
  }
  .movies-container .movie .movie-title-container {
    min-height: 15vh; /* minimum height of 5% of the viewport height */
    max-height: 15vh;
    display: flex;
    align-items: center;
  }
  .movies-container .movie .movie-title-container .movie-title {
    font-size: 1.9rem;
    flex-grow: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -ms-line-clamp: 3;
    -moz-line-clamp: 3;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }
  .movies-container .movie .movie-poster {
    width: 80%;
    margin: 0 auto;
  }
  .movies-container .movie .movie-info-container {
    margin-top: 3%;
    height: 100%;
  }
  .movies-container .movie .movie-info-container .movie-info-text {
    font-size: 1.4rem;
  }
  .movies-container .movie .movie-info-container .movie-genre-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 130px;
    width: 100%;
  }
  .movies-container .movie .movie-info-container .menu-button {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  .movies-container .movie .movie-info-container .later-trailer-liked-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movies-container .movie .movie-info-container .later-trailer-liked-container .watch-trailer-btn,
  .movies-container .movie .movie-info-container .later-trailer-liked-container .watch-trailer-btn,
  .movies-container .movie .movie-info-container .later-trailer-liked-container .watch-later {
    width: 35%;
    font-size: 1.1rem;
  }
  .movies-container .movie .movie-info-container .later-trailer-liked-container .favorite {
    font-size: 2.7em;
  }
  .movies-container .movie .line-break {
    display: none;
  }
  .pagination-container {
    margin: 0;
  }
  .pagination-container .total-pages {
    font-size: 1.3rem;
  }
  .pagination-container .last-btn,
  .pagination-container .first-btn,
  .pagination-container .previous-btn,
  .pagination-container .next-btn {
    font-size: 3rem;
    width: 5%;
  }
  .footer .footer-ul {
    font-size: 1.5rem;
  }
  .footer .fa-linkedin {
    font-size: 1.5rem;
  }
  .footer .fa-linkedin:hover {
    color: white;
  }
}/*# sourceMappingURL=index.css.map */