* {
  box-sizing: border-box;
}

body{
  margin:0;
  background-color: rgb(0, 0, 0);
}


.header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  .frudd-flix-logo{
    width: 100%;
  }

  .title {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
  }

 .menu {
  width: 100%;
  height: 45px;
  display: flex;
  margin-bottom: 10px;

    .nav-btn {
      width: -webkit-fill-available;
      width: -moz-fit-content;     
      background-color: rgba(68, 68, 68, 0.555);
      color: white;
      border-radius: 5px;
      text-shadow: 0 0 2px whitesmoke;
      cursor: pointer;
    }
    .nav-btn:hover{
      background-color: rgb(15, 15, 15);
      box-shadow: 0px 0px 10px 1px rgb(177, 177, 177) ;
    }
    .menu-menu-btn {
      width: 100px;
    }
    .menu-input {
      height: 100%;
      width: 100%;

    }
  }
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  
  .movie {
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    border-radius: 5%;
    outline: 2px purple solid;

    .sort-info-container{
      margin-bottom: 3%;
    }

    .sort-info-text{
      font-size: 1.3rem;
      display: inline;
      color: rgb(255, 255, 255);
      }
    
    .movie-year {
      margin-right: 10%;
    }

    .menu-item {
      font-size: 0.9rem;
      display: inline-block;
      margin-right: 2px;
      vertical-align: middle;
      padding-top: 2px;
      padding-bottom: 2px;
      }
 
      .menu-button {
        background-color: #337ab7;
        border: 1px solid #2e6da4;
        border-radius: 4px;
        color: #fff;
        transition: background-color 0.3s ease;
        margin-right: 10px;
      }
      

    &-title {
      font-size: 1.6rem;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }

    &-poster {
      width: 90%;
      height: 450px;
      object-fit: cover;
      border-radius: 15px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
    }
  }
}

//DESKTOP LAYOUT: 
@media only screen and (min-width: 1024px) {
  .movies-container {    

    .movie { 

        &-title {
        font-size: 3rem;
        color: rgb(179, 5, 5);
      }  
    }
  }
}


