* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.header .frudd-flix-logo {
  width: 100%;
}
.header .title {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}
.header .menu {
  width: 100%;
  height: 45px;
  display: flex;
  margin-bottom: 10px;
}
.header .menu .nav-btn {
  width: -webkit-fill-available;
  width: -moz-fit-content;
  background-color: rgba(68, 68, 68, 0.555);
  color: white;
  border-radius: 5px;
  text-shadow: 0 0 2px whitesmoke;
  cursor: pointer;
}
.header .menu .nav-btn:hover {
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 0px 10px 1px rgb(177, 177, 177);
}
.header .menu .menu-menu-btn {
  width: 100px;
}
.header .menu .menu-input {
  height: 100%;
  width: 100%;
}
.header .menu .dropdown {
  color: black;
  position: absolute;
  outline: 2px orange solid;
  background-color: pink;
  height: 70%;
  width: 95%;
  left: 2%;
  top: 19%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.header .menu .dropdown .dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10%;
}
.header .menu .dropdown .dropdown-header .slider-title {
  margin: 15px;
}
.header .menu .dropdown .dropdown-header .slider-min-text,
.header .menu .dropdown .dropdown-header .slider-max-text {
  margin: 0;
}
.header .menu .dropdown .dropdown-header .slider-min-text {
  align-self: flex-end;
}
.header .menu .dropdown .dropdown-header .slider-max-text {
  align-self: flex-end;
}
.header .menu .dropdown .slider-title {
  text-align: center;
}
.header .menu .dropdown .slider-container {
  margin: 7px;
  margin-top: 15px;
  outline: 2px solid green;
}
.header .menu .dropdown .slider-container .slider {
  cursor: pointer;
  width: 100%;
  color: black;
  background-color: black;
}
.header .menu .dropdown .slider-container .track {
  background-color: var(--gray);
  height: 2px;
  background-color: black;
}
.header .menu .dropdown .slider-container .track:nth-child(2) {
  background-color: var(--char-coal);
  background-color: black;
}
.header .menu .dropdown .slider-container .thumb {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--white);
  border: 2px solid var(--char-coal);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -7px;
  background-color: black;
}
.header .menu .dropdown .slider-container .slider-min-text {
  margin: 0;
  position: absolute;
  left: 0;
  top: 40px;
}
.header .menu .dropdown .slider-container .slider-max-text {
  margin: 0;
  position: absolute;
  right: 0;
  top: 40px;
}
.header .menu .dropdown .dropdown-genres {
  margin-top: 20px;
  margin-bottom: 1rem;
  outline: 2px solid green;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;
}
.header .menu .dropdown .dropdown-genres .button-genre:last-child:nth-last-child(-n+3) {
  grid-column: span 1/span 4;
}
.header .menu .dropdown .dropdown-genres .dropdown-genres > :last-child {
  grid-row: 4/5;
  grid-column: 1/-1;
}
.header .menu .dropdown .dropdown-genres .menu-filter-btn {
  grid-column: 1/-1;
  text-align: center;
  cursor: pointer;
}
.header .menu .dropdown .dropdown-genres .button-genre {
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.header .menu .dropdown .dropdown-genres .button-genre.selected {
  background-color: #007aff;
  color: #fff;
  border: 1px solid #007aff;
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.movies-container .movie {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  border-radius: 5%;
  outline: 2px purple solid;
  /* Keyframes for the rotate animation */
}
.movies-container .movie .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.movies-container .movie .backdrop .backdrop-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.movies-container .movie .backdrop .backdrop-exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.movies-container .movie .backdrop .backdrop-exit:hover {
  color: red;
}
.movies-container .movie button.favorite {
  color: white;
}
.movies-container .movie button.favorite.active {
  color: red;
  animation: heartBeat 1s forwards;
}
.movies-container .movie button.watch-later.active {
  background-color: rgb(145, 145, 245);
  animation: rotate 1s forwards;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movies-container .movie button.favorite {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
}
.movies-container .movie .sort-info-container {
  margin-bottom: 3%;
}
.movies-container .movie .sort-info-text {
  font-size: 1.3rem;
  display: inline;
  color: rgb(255, 255, 255);
}
.movies-container .movie .movie-year {
  margin-right: 10%;
}
.movies-container .movie .menu-item {
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
}
.movies-container .movie .menu-button {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
.movies-container .movie-title {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}
.movies-container .movie-title:hover {
  color: rgb(30, 255, 0);
}
.movies-container .movie-poster {
  width: 90%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.pagination-container .total-pages {
  color: aliceblue;
}

.footer {
  color: rgb(253, 186, 62);
  text-align: center;
  padding-right: 7%;
}
.footer .footer-ul {
  list-style: none;
}
.footer .footer-ul .footer-li {
  text-decoration: none;
}

.error-message {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .movies-container .movie-title {
    font-size: 3rem;
    color: rgb(179, 5, 5);
  }
}/*# sourceMappingURL=index.css.map */