* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.error-message-container {
  height: 100vh;
  .error-message {
    height: 63%;
    font-size: 1.5rem;
    margin: 7%;
    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

  .frudd-flix-logo {
    width: 100%;
  }

  .title {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
  }

  .menu-sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .menu {
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 50;

    .nav-btn {
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 30px;
      padding: 1.5% 5%;
      font-size: 0.7rem;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: all 0.3s ease;
      margin-left: 1.5%;
      max-width: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .browse-btn-active {
      background-color: #fff;
      color: #000;
      box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
    }

    .menu-menu-btn {
      width: 100px;
      margin-left: 5px;
      padding: 4%;
    }

    .menu-input {
      width: 100%;
      border-radius: 10px;
      margin-left: 5px;
      margin-right: 10px;
    }

    .browse-menu {
      font-family: "Mukta", sans-serif;
      color: black;
      position: absolute;
      outline: 2px solid gold;
      background-color: black;
      height: 77%;
      width: 90%;
      left: 5%;
      top: 22.5%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      padding-top: 5%;
      z-index: 50;

      .browse-title {
        margin: 0;
        color: gold;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        font-family: "Mukta", sans-serif;
      }

      .slider-container {
        flex: 1;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10%;

        .slider-min-text,
        .slider-max-text {
          color: gold;
          position: absolute;
          top: 7%;
        }

        .slider-min-text {
          left: 5%;
          text-align: left;
        }

        .slider-max-text {
          right: 5%;
          text-align: right;
        }

        .slider {
          cursor: pointer;
          width: 100%;
          height: 2px;
          background-color: gold;

          .track {
            height: 2px;
            background-color: blueviolet;
          }

          .track:nth-child(2) {
            background-color: var(--char-coal);
            background-color: gold;
          }
        }

        .thumb {
          cursor: pointer;
          width: 1rem;
          height: 1rem;
          background-color: gold;
          border-radius: 50%;
          margin-top: -5px;
        }

        .thumb:hover {
          background: linear-gradient(to bottom, #fac23d, #d88b14);
        }
      }

      .browse-genres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;

        .button-genre {
          background-color: black;
          color: gold;
          border: 1px solid gold;
          border-radius: 1rem;
          margin: 0.5rem;
          padding: 0.2rem 1rem;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.2s, color 0.2s;
          font-family: "Mukta", sans-serif;
        }

        .button-genre.selected {
          background-color: gold;
          color: black;
        }
      }

      .menu-filter-btn {
        background-color: gold;
        color: black;
        border: none;
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
        font-family: "Mukta", sans-serif;
      }

      .menu-filter-btn:hover {
        background-color: rgb(34, 34, 34);
        color: gold;
      }
    }

    .browse-menu-sticky {
      top: 105%;
      height: 75vh;
      transition: all 0.3s ease-in;
    }
  }
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-flow: column;

  .movie {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;

    .movie-title-container {
      .movie-title {
        font-family: "Mukta", sans-serif;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
      }
    }

    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      z-index: 999;

      .backdrop-exit {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer;
      }

      .backdrop-exit:hover {
        color: red;
      }

      .trailer-navigation {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        font-family: "Mukta", sans-serif;
        width: 100%;

        .trailer-previous-btn,
        .trailer-next-btn {
          font-family: "Mukta", sans-serif;
          background-color: transparent;
          color: white;
          border: none;
          padding: 12px 20px;
          border-radius: 30px;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          margin: 0 20px;
          margin-left: 10px;
          outline: none;
          font-size: 2rem;
          width: 1%;
          font-weight: 600;
        }

        .trailer-previous-btn.disabled,
        .trailer-next-btn.disabled {
          color: grey;
        }

        .total-pages {
          color: rgb(158, 158, 158);
          margin: 0 16px;
          word-spacing: 7px;

          .current-page-numb {
            color: white;
          }
        }
      }
    }

    button.favorite {
      color: white;
      margin-left: 3%;
    }

    button.favorite.active {
      color: red;
      animation: heartBeat 1s forwards;
    }

    button.watch-later.active {
      background-color: rgb(145, 145, 245);
      animation: heartBeat 1s forwards;
    }

    button.watch-trailer-btn.active {
      background-color: rgb(145, 145, 245);
      animation: heartBeat 1s forwards;
    }

    @keyframes heartBeat {
      0% {
        transform: scale(1);
      }

      20% {
        transform: scale(1.2);
      }

      40% {
        transform: scale(1);
      }

      60% {
        transform: scale(1.2);
      }

      80% {
        transform: scale(1);
      }

      100% {
        transform: scale(1);
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    button.favorite {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      padding: 0;
    }

    .movie-info-container {
      font-family: "Mukta", sans-serif;
      margin: 0 3% 5%;

      .later-trailer-liked-container {
        .watch-trailer-btn,
        .watch-later {
          font-family: "Mukta", sans-serif;
          font-weight: 500;
          margin: 2%;
          border: 0;
          border-radius: 10px;
          // box-shadow: 0 0 4px 1px rgb(168, 168, 168);
          width: 30%;
        }

        .watch-trailer-btn {
          background-color: rgb(52, 255, 103);
        }
      }

      .movie-info-text {
        font-size: 1.3rem;
        display: inline;
        color: rgb(255, 255, 255);
      }

      .movie-year {
        margin-right: 10%;
        font-family: "Dosis", sans-serif;
        color: rgb(255, 213, 0);
      }
    }

    .menu-item {
      font-size: 0.9rem;
      display: inline-block;
      margin-right: 2px;
      vertical-align: middle;
      padding-top: 2px;
      padding-bottom: 2px;
      font-family: "Mukta", sans-serif;
    }

    .menu-button {
      background-color: #337ab7;
      border: 1px solid #2e6da4;
      border-radius: 4px;
      color: #fff;
      transition: background-color 0.3s ease;
      margin: 2% 1% 4% 1%;
    }

    &-poster {
      border-radius: 15px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
    }

    .line-break {
      width: 70%;
      border-color: rgb(68, 68, 68);
      opacity: 0.7;
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  margin: 4% 0 0 0;

  .last-btn,
  .first-btn,
  .previous-btn,
  .next-btn {
    font-family: "Mukta", sans-serif;
    background-color: transparent;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 8px;
    outline: none;
    font-size: 2rem;
    width: 1%;
    font-weight: 600;
  }

  .last-btn.disabled,
  .first-btn.disabled,
  .previous-btn.disabled,
  .next-btn.disabled {
    color: grey;
  }

  .total-pages {
    color: rgb(158, 158, 158);
    margin: 0 16px;
    word-spacing: 5px;

    .current-page-numb {
      color: white;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  color: gold;
  font-size: 1rem;

  .footer-ul {
    list-style: none;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;

    .footer-li {
      display: inline-block;
      margin: 0 10px;
      line-height: 30px;

      .fa-brands {
        margin-right: 10px;
      }
    }

    .footer-link {
      color: gold;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }
}

.loader,
.error-message {
  color: #fff;
}

//DESKTOP LAYOUT:
@media only screen and (min-width: 1024px) {
  .error-message-container {
    height: 85vh;

    .error-message {
      margin: 2%;
      font-size: 1.5rem;
    }
  }

  .header {
    .menu {
      display: flex;
      justify-content: center;

      .nav-btn {
        font-size: 1.2rem;
        padding: 0.5% 1.5%;
      }

      .nav-btn:hover {
        color: black;
        background-color: white;
      }

      .menu-input {
        width: 29.5%;
      }
      .menu-menu-btn {
        padding: 0.7%;
      }

      .browse-menu {
        top: 35%;
        display: flex;
        align-items: center;
        height: auto;
        padding: 0;
        width: 50%;
        left: 25%;

        .browse-title {
          margin: 5%;
          font-size: 2.2rem;
        }

        .slider-container {
          width: 70%;

          .slider-min-text {
            top: 15%;
            left: 15%;
            font-size: 1.4rem;
          }

          .slider-max-text {
            top: 15%;
            right: 15%;
            font-size: 1.4rem;
          }
        }

        .menu-filter-btn {
          width: 60%;
          margin: 5% 0 5% 0;
        }

        .browse-genres {
          margin-top: 5%;

          .button-genre {
            font-size: 1.2rem;
          }
        }
        .menu-filter-btn {
          font-size: 1.3rem;
        }
      }

      .browse-menu-sticky {
        top: 110%;
        transition: all 0.3s ease-in;
      }
    }
  }

  .movies-container {
    display: flex;
    flex-flow: wrap;
    gap: 5%;
    margin-top: 1%;

    .movie {
      width: 20%;
      margin-bottom: 20px;
      outline: none;
      border: 2px solid #4e4e4ea1;
      text-align: center;

      .movie-title-container {
        min-height: 15vh; /* minimum height of 5% of the viewport height */
        max-height: 15vh;
        display: flex;
        align-items: center;

        .movie-title {
          font-size: 2rem;
          flex-grow: 1;
          display: -ms-flexbox;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -ms-line-clamp: 3;
          -moz-line-clamp: 3;
          box-orient: vertical;
          -webkit-box-orient: vertical;
        }
      }

      .movie-poster {
        width: 80%;
        margin: 0 auto;
      }

      .movie-info-container {
        margin-top: 3%;
        height: 100%;

        .movie-info-text {
          font-size: 1.8rem;
        }

        .movie-genre-container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          min-height: 130px;
          width: 100%;
        }

        .menu-button {
          margin-bottom: 0;
          font-size: 1.2rem;
        }

        .later-trailer-liked-container {
          display: flex;
          justify-content: center;
          align-items: center;

          .watch-trailer-btn,
          .watch-trailer-btn,
          .watch-later {
            width: 35%;
            font-size: 1.1rem;
          }

          .favorite {
            font-size: 2.7em;
          }
        }
      }

      .line-break {
        display: none;
      }
    }
  }

  .pagination-container {
    margin: 0;
    .total-pages {
      font-size: 1.3rem;
    }

    .last-btn,
    .first-btn,
    .previous-btn,
    .next-btn {
      font-size: 3rem;
      width: 5%;
    }
  }

  .footer {
    .footer-ul {
      font-size: 1.5rem;
    }

    .fa-linkedin {
      font-size: 1.5rem;
    }

    .fa-linkedin:hover {
      color: white;
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  margin: 10%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
