* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.header .frudd-flix-logo {
  width: 100%;
}
.header .title {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}
.header .menu {
  width: 100%;
  display: flex;
}
.header .menu .nav-btn {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 1.5%;
  text-align: center;
  max-width: 26%;
}
.header .menu .nav-btn:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
}
.header .menu .menu-menu-btn {
  width: 100px;
  margin-left: 5px;
}
.header .menu .menu-input {
  width: 100%;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 10px;
}
.header .menu .dropdown {
  font-family: "Mukta", sans-serif;
  color: black;
  position: absolute;
  outline: 2px solid gold;
  background-color: black;
  height: 80%;
  width: 90%;
  left: 5%;
  top: 21%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 5%;
}
.header .menu .dropdown .dropdown-title {
  margin: 0;
  color: gold;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Mukta", sans-serif;
}
.header .menu .dropdown .slider-container {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.header .menu .dropdown .slider-container .slider-min-text,
.header .menu .dropdown .slider-container .slider-max-text {
  color: gold;
  position: absolute;
  top: 7%;
}
.header .menu .dropdown .slider-container .slider-min-text {
  left: 5%;
  text-align: left;
}
.header .menu .dropdown .slider-container .slider-max-text {
  right: 5%;
  text-align: right;
}
.header .menu .dropdown .slider-container .slider {
  cursor: pointer;
  width: 100%;
  height: 2px;
  background-color: gold;
}
.header .menu .dropdown .slider-container .slider .track {
  height: 2px;
  background-color: blueviolet;
}
.header .menu .dropdown .slider-container .slider .track:nth-child(2) {
  background-color: var(--char-coal);
  background-color: gold;
}
.header .menu .dropdown .slider-container .thumb {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: gold;
  border-radius: 50%;
  margin-top: -5px;
}
.header .menu .dropdown .dropdown-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.header .menu .dropdown .dropdown-genres .button-genre {
  background-color: black;
  color: gold;
  border: 1px solid gold;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Mukta", sans-serif;
}
.header .menu .dropdown .dropdown-genres .button-genre.selected {
  background-color: gold;
  color: black;
}
.header .menu .dropdown .menu-filter-btn {
  background-color: gold;
  color: black;
  border: none;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Mukta", sans-serif;
}
.header .menu .dropdown .menu-filter-btn:hover {
  background-color: black;
  color: gold;
}

.movies-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.movies-container .movie {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  /* Keyframes for the rotate animation */
}
.movies-container .movie .movie-title {
  font-family: "Mukta", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
}
.movies-container .movie .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.movies-container .movie .backdrop .backdrop-exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.movies-container .movie .backdrop .backdrop-exit:hover {
  color: red;
}
.movies-container .movie .backdrop .trailer-navigation {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  width: 100%;
}
.movies-container .movie .backdrop .trailer-navigation .trailer-previous-btn,
.movies-container .movie .backdrop .trailer-navigation .trailer-next-btn {
  font-family: "Mukta", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 20px;
  margin-left: 10px;
  outline: none;
  font-size: 2rem;
  width: 1%;
  font-weight: 600;
}
.movies-container .movie .backdrop .trailer-navigation .trailer-previous-btn.disabled,
.movies-container .movie .backdrop .trailer-navigation .trailer-next-btn.disabled {
  color: grey;
}
.movies-container .movie .backdrop .trailer-navigation .total-pages {
  color: rgb(158, 158, 158);
  margin: 0 16px;
  word-spacing: 7px;
}
.movies-container .movie .backdrop .trailer-navigation .total-pages .current-page-numb {
  color: white;
}
.movies-container .movie button.favorite {
  color: white;
  margin-left: 3%;
}
.movies-container .movie button.favorite.active {
  color: red;
  animation: heartBeat 1s forwards;
}
.movies-container .movie button.watch-later.active {
  background-color: rgb(145, 145, 245);
  animation: heartBeat 1s forwards;
}
.movies-container .movie button.watch-trailer-btn.active {
  background-color: rgb(145, 145, 245);
  animation: heartBeat 1s forwards;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.movies-container .movie button.favorite {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
}
.movies-container .movie .sort-info-container {
  font-family: "Mukta", sans-serif;
  margin: 0 3% 5%;
}
.movies-container .movie .sort-info-container .later-trailer-liked-container .watch-trailer-btn,
.movies-container .movie .sort-info-container .later-trailer-liked-container .watch-later {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  margin: 2%;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgb(168, 168, 168);
  width: 24%;
}
.movies-container .movie .sort-info-container .later-trailer-liked-container .watch-trailer-btn {
  background-color: rgb(52, 255, 103);
}
.movies-container .movie .sort-info-text {
  font-size: 1.3rem;
  display: inline;
  color: rgb(255, 255, 255);
}
.movies-container .movie .movie-year {
  margin-right: 10%;
  font-family: "Dosis", sans-serif;
  color: rgb(255, 213, 0);
}
.movies-container .movie .menu-item {
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Mukta", sans-serif;
}
.movies-container .movie .menu-button {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease;
  margin: 2% 1% 4% 1%;
}
.movies-container .movie-title {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}
.movies-container .movie-poster {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.movies-container .movie .line-break {
  width: 70%;
  border-color: rgb(68, 68, 68);
  opacity: 0.7;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  margin: 4% 0 0 0;
}
.pagination-container .last-btn,
.pagination-container .first-btn,
.pagination-container .previous-btn,
.pagination-container .next-btn {
  font-family: "Mukta", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 8px;
  outline: none;
  font-size: 2rem;
  width: 1%;
  font-weight: 600;
}
.pagination-container .last-btn.disabled,
.pagination-container .first-btn.disabled,
.pagination-container .previous-btn.disabled,
.pagination-container .next-btn.disabled {
  color: grey;
}
.pagination-container .total-pages {
  color: rgb(158, 158, 158);
  margin: 0 16px;
  word-spacing: 5px;
}
.pagination-container .total-pages .current-page-numb {
  color: white;
}

.footer {
  color: gold;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}
.footer .footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-ul .footer-li {
  display: inline-block;
  margin: 0 10px;
  line-height: 30px;
}
.footer .footer-ul .footer-link {
  color: gold;
  text-decoration: none;
}
.footer .footer-ul .footer-link:hover {
  color: white;
}

.loader,
.error-message {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .header .menu {
    display: flex;
    justify-content: center;
  }
  .header .menu .menu-input {
    width: 70%;
  }
  .header .menu .dropdown {
    top: 60%;
    display: flex;
    align-items: center;
    height: auto;
    padding: 0;
  }
  .header .menu .dropdown .dropdown-title {
    margin: 5%;
  }
  .header .menu .dropdown .slider-container {
    width: 70%;
  }
  .header .menu .dropdown .slider-container .slider-min-text {
    top: 15%;
    left: 15%;
  }
  .header .menu .dropdown .slider-container .slider-max-text {
    top: 15%;
    right: 15%;
  }
  .header .menu .dropdown .menu-filter-btn {
    width: 60%;
    margin: 5% 0 5% 0;
  }
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .movies-container .movie {
    width: 30%;
    margin-bottom: 20px;
  }
  .movies-container .movie .movie-title {
    color: red;
    font-size: 3rem;
  }
}
.error-message {
  font-size: 1.2rem;
  margin: 5%;
}/*# sourceMappingURL=index.css.map */